


.searchContainer{
  width: 80%;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  margin: 5em auto;
}

.searchButtonContainer {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #a9cee1;
  height: 130px;
  width: 130px;
  transition: color .5s ease;

  &:hover {
    background-color: rgba(169, 206, 225, 0.5);
  }

  @media screen and (max-width: 640px) {
    display: none;

  }
}

.input {
  background-color: transparent;
  border: 0;
  height: 35px;
  width: 100%;
  color: rgba(255, 255, 255, .5);
  font-size: 1.5em;
}

//input{
//  background-color: transparent;
//}
